.create-post-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.create-post {
    width: 80%;
    height: 80%;
    position: absolute;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 25px 35px;
    background: linear-gradient(#111111, #333333, #111111);
    border-radius: 40px;
    box-shadow: #d4b4f0 0 30px 30px -20px;
}

.create-post h2 {
    text-align: center;
    font-weight: 900;
    font-size: 30px;
    color: #d4b4f0;
}

.form {
    margin-top: 20px;
    width: 100%;
}

.input {
    width: 100%;
    background: #edd4f6;
    border: none;
    padding: 15px 20px;
    border-radius: 20px;
    margin-top: 15px;
    box-shadow: #FFB6C1 0 0 10px -5px;
    border-inline: 2px solid transparent;
}

.input:focus {
    outline: none;
    border-inline: 2px solid #623AA2;
}

.login-button {
    width: 100%;
    padding: 15px;
    border-radius: 20px;
    border: none;
    background: linear-gradient(135deg, #F97794, #D43F6A,#FFB6C1);
    color: white;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 20px;
}

.login-button:hover {
    background: linear-gradient(135deg, #623aa2, #4E2A85, #7D5BA6);
}

.createPost-button {
    width: 100%;
    padding: 12px;
    border-radius: 15px;
    border: none;
    background: linear-gradient(135deg, #F97794, #D43F6A, #FFB6C1);
    color: white;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
}

.createPost-button:hover {
    background: linear-gradient(135deg, #623aa2, #4E2A85, #7D5BA6);
}
