.create-post {
    max-width: 500px;
    margin: 40px auto;
    padding: 20px;
    background: linear-gradient(#111111, #333333, #111111);
    border-radius: 20px;
    box-shadow: 0px 10px 30px rgba(212, 180, 240, 0.3);
    text-align: center;
}

.create-post h2 {
    color: #d4b4f0;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 15px;
}

.create-post form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.input, .textarea {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 15px;
    background: #edd4f6;
    font-size: 16px;
    box-shadow: 0 0 10px -5px #FFB6C1;
    transition: border 0.3s ease-in-out;
}

.input:focus,
.textarea:focus {
    outline: none;
    border: 2px solid #623AA2;
}

.textarea {
    height: 120px;
    resize: none;
}

.createPost-button {
    width: 100%;
    padding: 12px;
    border-radius: 15px;
    border: none;
    background: linear-gradient(135deg, #F97794, #D43F6A, #FFB6C1);
    color: white;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
}

.createPost-button:hover {
    background: linear-gradient(135deg, #623aa2, #4E2A85, #7D5BA6);
}
